<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link" href="/FBLA/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-calendar-check"></i><span>Events</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/FBLA/events">
            <i class="bi bi-circle"></i><span>View Events</span>
          </a>
        </li>
        <li>
          <a href="/FBLA/addEvent">
            <i class="bi bi-circle"></i><span>Add Events</span>
          </a>
        </li>
        <li>
          <a href="/FBLA/editEvent">
            <i class="bi bi-circle"></i><span>Edit Events</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/FBLA/add-student">
        <i class="bi bi-people"></i>
        <span>Add Student</span>
      </a>
    </li> <!-- End add student Link -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/FBLA/assign-points">
        <i class="bi bi-people"></i>
        <span>Assign Points</span>
      </a>
    </li> <!-- End Points Link -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/FBLA/reports">
        <i class="bi bi-file-earmark-text"></i>
        <span>Generate Report</span>
      </a>
    </li> <!-- End Report Link -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/FBLA/winner">
        <i class="bi bi-trophy"></i>
        <span>Choose Winner</span>
      </a>
    </li> <!-- End Points Link -->
  </ul>

</aside><!-- End Sidebar-->