<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link" href="/FBLA/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/FBLA/events">
        <i class="bi bi-calendar-check"></i>
        <span>Events</span>
      </a>
    </li> <!-- End Event Link -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/FBLA/assign-points">
        <i class="bi bi-people"></i>
        <span>Assign Points</span>
      </a>
    </li> <!-- End Points Link -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/FBLA/reports">
        <i class="bi bi-file-earmark-text"></i>
        <span>Generate Report</span>
      </a>
    </li> <!-- End Report Link -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/FBLA/winner">
        <i class="bi bi-trophy"></i>
        <span>Choose Winner</span>
      </a>
    </li> <!-- End Points Link -->
  </ul>

</aside><!-- End Sidebar-->