<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

  <body>

    <%- include('./partials/header'); %>

      <%- include('./partials/sidebar'); %>

        <main id="main" class="main">

          <div class="pagetitle">
            <h1>Events</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Events</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th scope="col">Description</th>
                <th scope="col">Points</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Name</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet culpa quisquam ea praesentium saepe soluta quasi quibusdam voluptates fugiat hic perspiciatis earum libero quidem repellendus quis, tempore asperiores veritatis ex?</td>
                <td>10</td>
                <td>March 3, 2023</td>
                <td><button class="btn btn-primary">Edit</button></td>
                <td><button class="btn btn-primary">Add Student</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Name2</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet culpa quisquam ea praesentium saepe soluta quasi quibusdam voluptates fugiat hic perspiciatis earum libero quidem repellendus quis, tempore asperiores veritatis ex?</td>
                <td>40</td>
                <td>March 3, 2023</td>
                <td><button class="btn btn-primary">Edit</button></td>
                <td><button class="btn btn-primary">Add Student</button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Name3</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet culpa quisquam ea praesentium saepe soluta quasi quibusdam voluptates fugiat hic perspiciatis earum libero quidem repellendus quis, tempore asperiores veritatis ex?</td>
                <td>25</td>
                <td>March 3, 2023</td>
                <td><button class="btn btn-info">Edit</button></td>
                <td><button class="btn btn-primary">Add Student</button></td>
              </tr>
            </tbody>
          </table>

          <button class="btn btn-primary">Add Event</button>
          
        </main><!-- End #main -->

        <%- include('./partials/footer'); %>

  </body>

</html>