<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>FBLA Submission</title>
  <!-- MDB icon -->
  <link rel="icon" href="/img/mdb-favicon.ico" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="/css/mdb.min.css" />
</head>

<body>
  <!-- Start your project here-->
  <!--Main Navigation-->
  <header>
    <style>
      /* Carousel styling */
      #introCarousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 100vh;
      }

      .carousel-item:nth-child(1) {
        background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(2) {
        background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(3) {
        background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #introCarousel {
          margin-top: -58.59px;
        }
      }

      .navbar .nav-link {
        color: #fff !important;
      }
    </style>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link" target="_blank" href="#intro">
          <strong>FBLA Project</strong>
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#intro">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#description">Our Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#features">Features</a>
            </li>
            <li class="nav-item" style="float: right;">
              <button type="button" class="btn btn-primary mb-2 ms-auto" data-mdb-toggle="modal" data-mdb-target="#exampleCentralModal3">
                Login/Register
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Carousel wrapper -->
    <div id="introCarousel" class="carousel slide carousel-fade
        shadow-2-strong" data-mdb-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
      </ol>

      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center
                h-100">
              <div class="text-white text-center">
                <h1 class="mb-3">Increase Student Involvement</h1>
                <h5 class="mb-4">Student's earn points for attending school events</h5>
                <a class="btn btn-outline-light btn-lg m-2" href="#description" role="button">Learn More</a>
                <a class="btn btn-outline-light btn-lg m-2" data-mdb-toggle="modal" data-mdb-target="#exampleCentralModal3" href="#exampleCentralModal3" role="button">Register Your
                  School</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center
                h-100">
              <div class="text-white text-center">
                <h2>Track student participation with ease</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <div class="mask" style="
              background: linear-gradient(
              45deg,
              rgba(29, 236, 197, 0.7),
              rgba(91, 14, 214, 0.7) 100%
              );
              ">
            <div class="d-flex justify-content-center align-items-center
                h-100">
              <div class="text-white text-center">
                <h2>Motivate your students</h2>
                <a class="btn btn-outline-light btn-lg m-2" data-mdb-toggle="modal" data-mdb-target="#exampleCentralModal3" href="#exampleCentralModal3" role="button">Sign up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner -->

      <!-- Controls -->
      <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- Carousel wrapper -->
  </header>
  <!--Main Navigation-->

  <!-- Register/Login modals -->
  <div class="modal fade" id="exampleCentralModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="z-index: 10000;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body p-4">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="mdb-tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
                aria-controls="pills-login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="mdb-tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
                aria-controls="pills-register" aria-selected="false">Register</a>
            </li>
          </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="mdb-tab-login">
              <form action="/FBLA/Login" method="POST">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="input" id="loginName" class="form-control" name="username"/>
                  <label class="form-label" for="loginName">Username</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="loginPassword" class="form-control" name="password"/>
                  <label class="form-label" for="loginPassword">Password</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                <!-- Register buttons -->
                <div class="text-center">
                  <p class="mb-1">Not a member? <a href="#pills-register" data-mdb-toggle="pill">Register</a></p>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="mdb-tab-register">
              <form action="/FBLA/SignUp" method="POST">
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="registerName" class="form-control" name="name"/>
                  <label class="form-label" for="registerName">Name</label>
                </div>

                <!-- Username input -->
                <div class="form-outline mb-4">
                  <input type="text" id="registerUsername" class="form-control" name="username"/>
                  <label class="form-label" for="registerUsername">Username</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="registerEmail" class="form-control" name="email"/>
                  <label class="form-label" for="registerEmail">Email</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="registerPassword" class="form-control" name="password"/>
                  <label class="form-label" for="registerPassword">Password</label>
                </div>

                <!-- Repeat Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="registerRepeatPassword" class="form-control" name="confirmPassword"/>
                  <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                </div>

                <!-- Repeat Password input -->
                <div class="form-outline mb-4">
                  <input type="text" id="registerSchool" class="form-control" name="school"/>
                  <label class="form-label" for="registerSchool">School</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                    aria-describedby="registerCheckHelpText" />
                  <label class="form-check-label" for="registerCheck">
                    I have read and agree to the terms
                  </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-1">Sign up</button>
              </form>
            </div>
          </div>
          <!-- Pills content -->
        </div>
      </div>
    </div>
  </div>

  <!--Main layout-->
  <div id="description"></div>
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong
                rounded-5" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251,
                    0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>What do we do?</strong></h4>
            <p class="text-muted">
              This service aims to help schools increase student participation in school events. students
              are awarded points for attending, and winners are selected at the end of the semester.
            </p>
            <p><strong>How to use it?</strong></p>
            <p class="text-muted">
              Simply create an account under your school name. Once logged in, you can add events, prizes,
              and award points to students.
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <div id="features"></div>

      <hr class="my-5" />

      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Features</strong></h4>
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251,
                      251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Add events</h5>
                <p class="card-text">
                  Easily add events to your account.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251,
                      251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Award Points</h5>
                <p class="card-text">
                  Easily assign students points based on the events they attend.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251,
                      251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Select Winners</h5>
                <p class="card-text">
                  The site comes pre-equipped with a winner selection algorithm, as well as several
                  tables to view your events and students.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <hr class="my-5" />

      <!--Section: Content-->
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="bg-light text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0,
        0.2);">
      This is an FBLA contest submission by Gavin Sutherland and Nirmaha Mukerjee. Please do not include personal
      information
      during registration.
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->
  <!-- End your project here-->

  <!-- MDB -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</body>

</html>